* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    height: 100vh;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    padding: 15px;
    width: 240px;
    height: 280px;
    box-shadow: 8px 8px 5px 2px black;
    border-radius: 15px;
    overflow: hidden;
}
div::before {
    content: "";
    border-radius: 15px;
    background: conic-gradient(
        transparent 0deg,
       rgb( 148, 0, 211) 45deg,
       #4B0082 90deg,
       #0000FF 135deg,
       #00FF00 180deg, 
       #FFFF00 225deg, 
       #FF7F00 270deg,
       #FF0000 315deg, 
       transparent 360deg
    );
    width: 160%;
    height: 160%;
    position: absolute;
    animation: rotate 2.5s linear infinite;
}
div::after{
    display: flex;
    align-items: center;
    justify-content: center;
    content: "Border Animation";
    position: absolute;
    color: white;
    font-size: 32px;
    line-height: 2;
    border-radius: 12px;
    width: 220px;
    height: 260px;
    background-color: grey;
    box-shadow: inset 15px 15px 15px black;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}